---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---



{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign preprint_count = 0 %}

    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title | upcase }}</h2>
        {% assign title_shown = true %}
      {% endunless %}
      {% if category[0] == 'preprints' %}
        {% assign preprint_count = preprint_count | plus: 1 %}
        <div class="list__item">
          <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
            <p class="archive__item-excerpt" itemprop="description">
              {{ post.excerpt | markdownify }}
              {% if post.paperurl %}
                <a href="{{ post.paperurl }}">"{{ post.title }}"</a>
              {% else %}
                "{{ post.title }}"
              {% endif %}
            </p>
          </article>
        </div>
      {% else %}
        {% include archive-single.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



