---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---



{% include base_path %}

<!-- Simple test to see if publications are loaded -->
<h2>All Publications</h2>

{% for post in site.publications %}
  <div class="list__item">
    <h3>{{ post.title }}</h3>
    <p>Category: {{ post.category }}</p>
    <p>Date: {{ post.date }}</p>
    <p>Excerpt: {{ post.excerpt }}</p>
    {% if post.paperurl %}
      <p><a href="{{ post.paperurl }}">Download Paper</a></p>
    {% endif %}
  </div>
{% endfor %}

<!-- Original template (commented out for now) -->
<!--
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% assign preprint_count = 0 %}

    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% if category[0] == 'preprints' %}
        {% assign preprint_count = preprint_count | plus: 1 %}
        <div class="list__item">
          <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
            <p class="archive__item-excerpt" itemprop="description">
              {{ preprint_count }}. {{ post.excerpt | markdownify }}
              {% if post.paperurl %}
                <a href="{{ post.paperurl }}">"{{ post.title }}"</a>
              {% else %}
                "{{ post.title }}"
              {% endif %}
            </p>
          </article>
        </div>
      {% else %}
        {% include archive-single.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
-->



